<div class="body">
    <div class="main"> 
        <div id="Contai1"> 
        </div> 
        <hr>
        <div id="Contai2"> 
            <div id="text"> 
                <span class="sub-text">D</span>
                <span class="sub-text">e</span>
                <span class="sub-text">v</span>
                <br>
                <span class="task-text">L</span>
                <span class="task-text">o</span>
                <span class="task-text">g</span>
                <span class="task-text">s</span>
            </div> 
        </div> 
        <div id="Contai3"> 
            <div id="container"> 
                <div id="logo"> 
                    <a href="#">
                        <img src="assets/mainlogo.png" alt="Main Logo" />
                    </a>
                    </div> 
                    <div id="menu"> 
                        <ul> 
                        <a href="/registration">
                            <li>Register</li>
                        </a>
                        <a href="/login">
                            <li>Log-in</li>
                        </a>
                    </ul> 
                </div> 
            </div> 
        </div> 
    </div> 
</div>
