<div *ngIf="loading == false">
  <app-homepage-navbar></app-homepage-navbar>
  <div class="body">
    <div class="cards">
      <div
        class="system"
        (click)="viewPost(post.postid)"
        *ngFor="let post of posts"
        click
      >
        <div class="right">
          <div class="header" *ngIf="post.photo">
            <img
              src="http://localhost/rels/pdo/images/posts/{{ post.photo }}"
              alt="tempo"
            />
          </div>
        </div>
        <div class="left">
          <div class="info">
            <div class="img">
              <img
                class="default"
                src="assets/logoo.png"
                *ngIf="!user[0].profilephoto"
                alt="Main Logo"
              />
              <img
                [src]="
                  'http://localhost/rels/pdo/images/users/' +
                  user[0].profilephoto
                "
                *ngIf="user[0].profilephoto"
              />
            </div>
            <div class="text">
              <p>{{ post.username }}</p>
              <div class="date">
                <p>{{ formatSqlDate(post.created_at) }}</p>
              </div>
            </div>
          </div>
          <div class="title">
            <h4>{{ post.title }}</h4>
          </div>
  
          <div class="descri" [innerHTML]="[post.description]"></div>
  
          <div class="actions">
            <div class="action-button">
              <i class="bx bx-show"></i>{{ post.views }} Views
            </div>
            <div class="action-button comment">
              <i class="bx bx-comment"></i> Comments
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="editor" (click)="createPost()">
  <button class="editor-i">
    <i class="bx bx-edit-alt"></i>
  </button>